<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IMS_Entities" connectionString="metadata=res://*/IMS_Model.csdl|res://*/IMS_Model.ssdl|res://*/IMS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=XpressRetail;Persist Security Info=true; User ID=sa;Password=link320;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="IMS_Win.Properties.Settings.xppConnectionString" connectionString="Data Source=LINKTECHBD5;Initial Catalog=xpp;User ID=sa;Password=sa123"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString1"
      connectionString="Data Source=LINKTECHBD\SQLEXPRESS;Initial Catalog=XpressRetail;User ID=sa;Password=sa123"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString2"
      connectionString="Data Source=LINKTECHBD\SQLEXPRESS;Initial Catalog=XpressRetail;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString3"
      connectionString="Data Source=LINKTECHBD\SQLEXPRESS;Initial Catalog=XpressRetail;User ID=sa;Password=sa123;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString4"
      connectionString="Data Source=LINKTECHBD5;Initial Catalog=XpressRetail;User ID=sa;Password=sa123;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString"
      connectionString="Data Source=LINKTECHBD\SQLEXPRESS;Initial Catalog=XpressRetail;User ID=sa;Password=sa123"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XRetailConnectionString"
      connectionString="Data Source=LINKTECHBD5;Initial Catalog=XRetail;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString5"
      connectionString="Data Source=LINKTECHBD5\SQLEXPRESS;Initial Catalog=XpressRetail;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString6"
      connectionString="Data Source=denar;Initial Catalog=XpressRetail;Persist Security Info=True;User ID=sa;Password=sa123"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString7"
      connectionString="Data Source=LINKTECHBD4\SQLEXPRESS;Initial Catalog=XpressRetail;Persist Security Info=True;User ID=sa;Password=link320"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString8"
      connectionString="Data Source=LINKTECBD;Initial Catalog=XpressRetail;Persist Security Info=True;User ID=sa;Password=link320;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="IMS_Win.Properties.Settings.XpressRetailConnectionString9"
      connectionString="Data Source=LINKTECHBD4\SQLEXPRESS;Initial Catalog=XpressRetail;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>