<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IMS_Entities" connectionString="metadata=res://*/IMS_Model.csdl|res://*/IMS_Model.ssdl|res://*/IMS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LINKTECHBD4\SQLEXPRESS;Initial Catalog=XpressRetail;Persist Security Info=True;User ID=sa;Password=link320;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>